<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="barista_robot">

  <xacro:arg name="include_laser" default="true"/>
  <xacro:property name="robot_name" value="$(arg robot_name)"/>
  
  <xacro:include filename="$(find barista_robot_description)/xacro/drive_wheel.xacro" />
  <xacro:include filename="$(find barista_robot_description)/xacro/caster_wheel.xacro" />
  <xacro:include filename="$(find barista_robot_description)/xacro/standoff_rod.xacro" />
  <xacro:include filename="$(find barista_robot_description)/xacro/cup_holder_tray.xacro" />
  <xacro:include filename="$(find barista_robot_description)/xacro/laser_scanner.xacro" />

  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>

  <material name="green">
    <color rgba="0 1 0 1"/>
  </material>

  <material name="blue">
    <color rgba="0 0 1 1"/>
  </material>

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <!-- Base footprint link -->
  <link name="base_footprint" />

  <!-- Base Link -->
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.155" radius="0.178" />
      </geometry>
      <material name="blue" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.155" radius="0.178" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.004961541667" ixy="0" ixz="0" iyy="0.004961541667" iyz="0" izz="0.007921"/>
    </inertial>
  </link>

   <joint name="joint_base_link" type="fixed">
    <origin xyz="0 0 0.0975" rpy="0 0 0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
   </joint>

  <!-- Wheel Left -->
  <xacro:wheel wheel_name="left_wheel" joint_origin="0 0.15 -0.0623"/>

  <!-- Wheel Right -->
  <xacro:wheel wheel_name="right_wheel" joint_origin="0 -0.15 -0.0623" />

  <!-- Caster Wheel Front -->
  <xacro:caster caster_position="front" joint_yaw_origin="0.15 0 -0.0875" />
  
  <!-- Caster Wheel Back -->
  <xacro:caster caster_position="back" joint_yaw_origin="-0.15 0 -0.0875" />
  
   <!-- Standoff 1 -->
  <xacro:standoff standoff_name="standoff_1" joint_origin="0.1 0.1 0.0775" />
  
   <!-- Standoff 2 -->
  <xacro:standoff standoff_name="standoff_2" joint_origin="0.1 -0.1 0.0775" />

   <!-- Standoff 3 -->
  <xacro:standoff standoff_name="standoff_3" joint_origin="-0.1 -0.1 0.0775" />
  
   <!-- Standoff 4 -->
  <xacro:standoff standoff_name="standoff_4" joint_origin="-0.1 0.1 0.0775" />
  
  <!-- Tray -->
  <xacro:cupholder cupholder_name="tray" joint_origin="0 0 0.2975" />

  <!-- Laser Scan -->
  <xacro:if value="$(arg include_laser)">
    <xacro:laser laser_name="laser_scan" joint_origin="0.13 0 0.0775" robot_name="${robot_name}" />
  </xacro:if>

  <!-- </xacro:if> -->
  
  <!-- Plugins -->
  <!-- Joint State Publisher -->
  <gazebo>
    <plugin name="barista_bot_joint_state" filename="libgazebo_ros_joint_state_publisher.so">
    <ros>
      <namespace>/${robot_name}</namespace>
      <remapping>~/out:=joint_states</remapping>
    </ros>
    <update_rate>30</update_rate>
    <joint_name>joint_left_wheel</joint_name>
    <joint_name>joint_right_wheel</joint_name>
    <joint_name>front_yaw_joint</joint_name>
    <joint_name>back_yaw_joint</joint_name>
    <joint_name>front_roll_joint</joint_name>
    <joint_name>back_roll_joint</joint_name>
    <joint_name>front_pitch_joint</joint_name>
    <joint_name>back_pitch_joint</joint_name>
    </plugin>
  </gazebo>
  
  <!-- Differential Drive Controller -->
  <gazebo>      
    <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">  
    <ros>
      <namespace>/${robot_name}</namespace>
      <remapping>/cmd_vel:=cmd_vel</remapping>
    </ros>
    <!-- wheels -->
    <left_joint>joint_left_wheel</left_joint>
    <right_joint>joint_right_wheel</right_joint>  
    <!-- kinematics -->
    <wheel_separation>0.3</wheel_separation>
    <wheel_diameter>0.0704</wheel_diameter>  
    <!-- limits -->
    <max_wheel_torque>1.0</max_wheel_torque>
    <max_wheel_acceleration>2.0</max_wheel_acceleration>  
    <!-- output -->
    <publish_odom>true</publish_odom>
    <publish_odom_tf>true</publish_odom_tf>  
    <odometry_frame>${robot_name}/odom</odometry_frame>
    <robot_base_frame>${robot_name}/base_footprint</robot_base_frame>
    <update_rate>30</update_rate>
    </plugin>
  </gazebo>

</robot>

